.input-search__search-button-connect{
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    min-width: 320px;
    flex-grow: 1;
    gap: 0;
    background: #ffcc00;
    border-radius: 16px;
}